[build-system]
requires = ["flit_core >=3.2,<4"]
build-backend = "flit_core.buildapi"

[project]
name = "lumache"
authors = [{name = "Seowon Chang", email = "seowon_chang@brown.edu"}]
dynamic = ["version", "description"]
